<div class="container">
  <div class="row">
    <h1>Jesse's Wildlife Sanctuary</h1>
  </div>
  <div class="row">
    <div class="col-md-6">

      <div class="filters">
        <button class="btn btn-primary filter-button" (click)="filterByAge('all')">All Animals</button>
        <button class="btn btn-primary filter-button" (click)="filterByAge('young')">Young Animals</button>
        <button class="btn btn-primary filter-button" (click)="filterByAge('mature')">Mature Animals</button>
      </div>

      <a href="#" class="card add-new btn btn-default" (click)="addNewAnimalClicked()">+</a>

      <animal-new [addNewAnimalInput]="addNewAnimal" (newAnimalSender)="addNewAnimalAction($event)" (backButtonSender)="cancelNewAction()"></animal-new>

      <animal-list [animalList]="animals" [filterList]="filterByAgeOption" (cancelClickSender)="cancelDetails()" (detailsClickSender)="detailsClicked($event)" (addNewClickSender)="addNewAnimalClicked()"></animal-list>

    </div>

    <div class="col-md-6">
      <animal-detail [selectedAnimalDetails]="selectedAnimal" (deleteClickSender)="deleteAnimal($event)" (backClickSender)="cancelDetails()"></animal-detail>
    </div>

  </div>
</div>
